@use "colors" as *;

.current-forecast {
  background-color: $current-forecast-color;
  color: $font-color-white;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-top: 3rem;

  .geo-error {
    display: none;

    padding: 2rem;
    font-size: 2rem;
  }

  .current-forecast__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding: 2rem;

    @media screen and (min-width: 460px) {
      padding: 3rem 2rem;
    }

    .current-temperature {
      h2 {
        font-size: 4rem;
        margin-bottom: 1rem;

        @media screen and (min-width: 460px) {
          font-size: 5rem;
        }
      }

      p {
        font-size: 1.6rem;
      }
    }

    .current-conditions {
      text-align: start;
      display: grid;
      align-self: center;
      grid-template-columns: 1fr 1fr;

      p {
        font-size: 1.6rem;
      }
      p:first-child {
        font-weight: 700;
        align-self: center;
      }

      img {
        grid-column: 2;
        grid-row: 1 / span 2;
        justify-self: center;
        display: block;
        width: 8rem;
        height: 8rem;

        @media screen and (min-width: 460px) {
          width: 10rem;
          height: 10rem;
        }
      }
    }
  }
}
